.floatingButtonsFrame{
    background: white;
    position:fixed;
    right:0px;
    top: 200px;
    border: 1px solid #ddd;
    border-right-width: 0;
}

.slider-button{
    cursor: pointer;
    padding:12px;
}
.slider-button span {
    display: none;
}
.dialog{
    position:fixed;
    /*height:228px;*/
    background: white;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    width:400px;
    right:-10px;
    top: 150px;
    margin-right: -400px;
    padding: 10px;
    z-index: 1000;
}
.dismissButton {
    cursor: pointer; cursor: hand;
    color: #bdbdbd;
}
